.friend_card {
  width: 150px;
  margin: 0 auto;
  padding-top: 21px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

.friend_img {
  width: 120px;
  margin: 0 auto;
  margin-bottom: 34px;
}

.friend_title {
  font-size: 30px;
  margin-bottom: 17px;
}

.friend_status {
  font-size: 20px;
  margin-bottom: 28px;
}

.online {
  color: #377e22;
}

.offline {
  color: #ea3323;
}
